# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.\Demonstration_my\DE2_115\db\
*.kpt
*.tdf
*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.bpm
*.idb
*.ps
*.db_info
Demonstration_my/DE2_115_CAMERA/db/DE2_115_CAMERA.db_info
Demonstration_my/DE2_115_CAMERA/db/DE2_115_CAMERA.quiproj.924.rdr.flock
color_transform/sqrt_32.vhdl.bak
*.db_info
RGB2lab/log2_LMS.v
RGB2lab/log2_LMS.v
*.logdb
